body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    color:#E20000;
    font-size:36px;
}
.icon-tag{
    background-color:rgba(0,209,255,1);
    border-radius: 15px;
    padding: 40px 0;
    color: white;
    font-size: 90px;
    text-align: center;
}
#experiencia h2, #formacion h2, h4 , h2{
    font-weight: 400;
    font-size: 24px;
    color:darkblue
}
#experiencia h3, #formacion h3 {
    color: #6A6A6A;
    font-size: 18px;
    font-weight: 600;
}
h3 {
    font-size: 20px;
    color: #282828;
    font-weight: 300;
}
#experiencia h5, #formacion h5 {
    color: #6A6A6A;
    font-size: 14px;
}
#sobre-mi .card{
    height: 200px;
}

#inicio .cohete{
    height: 500px;
}
#sobre-mi .img-circle {
    margin: 1em auto;
    display: block;
    background-color: #fff;
    padding: 20px;
    border-radius: 50%;
}
    input {
    border-radius: 15px !important;

}
.nav-link{
    color: #282828;
}
nav .active{
    border:rgba(0,209,255,1)  solid 1px;
    border-radius: 25px;   
}
.link-rojo{
    color:rgba(0,209,255,1);
    text-decoration: none;
    padding-left: 10px;
    
}
.btn{
    background-color: white;
    color: #360a6d;
    border-radius: 15px;
    margin-top: 15px;    
}
.btn:hover{
    background-color: rgba(0,209,255,1);
    color:white;
}
.btn-rojo{
    background-color: #E20000;
    color: white;
    font-weight: 100;
    border-radius: 15px;
}
#contacto, #inicio{
    background-image: url("../images/fondo-contacto.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
#sobre-mi{
    background-image: url("../images/fondo-proyectos.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
@media(max-width:750px) {
    #contacto{
        background-image: url("../images/fondo-proyectos.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }
}
#proyectos {
    background-image: url("../images/fondo-proyectos.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#contacto .codigo-qr h2 {
    font-size: 20px;
    color:#6a6a6a

}
#contacto .codigo-qr img {
    width: 200px;
}
#proyectos h2{
    color:white;
    font-size: 16px;
    padding: 22px 16.5px;
}
#proyectos .bloque p{
    height: 90px;
    color: #6a6a6a;
    font-size: 14px;
}
#inicio .gradiente{
    background: rgb(222,10,10);
    background: linear-gradient(90deg, rgba(222,10,10,1) 58%, rgba(0,209,255,1) 100%);
    color: white;
}
#proyectos .gradiente{
    background: rgb(222,10,10);
    background: linear-gradient(90deg, rgba(222,10,10,1) 58%, rgba(0,209,255,1) 100%);
}
#sobre-mi .color-gradiente{
    background: rgb(222,10,10);
    background: linear-gradient(90deg, rgba(222,10,10,1) 58%, rgba(0,209,255,1) 100%);
}
#proyectos img{
    height: 210px;
    padding:0px;
}
#sobre-mi .footer a{
    color: #E20000; 
    font-weight: 100%;
}
#sobre-mi footer{
    color: red;
}
#proyectos .footer a{
    color: #E20000;
    font-weight: 100%;
}
#proyectos footer{
    color:#E20000;   
}
#contacto footer{
    color:white;
    font-weight: 100;
}
#inicio footer a, #contacto footer a{
    color: white;
    font-weight: 100%;
}
#inicio footer .fa-linkedin-in, #contacto footer .fa-linkedin-in, #sobre-mi footer .fa-linkedin-in{
    color: #ff4a49;
    background-color: white;
    font-size: 20px;
    border:0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
#proyectos footer .fa-linkedin-in, #sobre-mi footer .fa-linkedin-in{
    color:white;
    background-color:#E20000;
    font-size: 20px;
    border:0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
#inicio footer .fa-github ,#contacto footer .fa-github{
    font-size: 33px;
    color: white;
}
#proyectos footer .fa-github, #sobre-mi footer .fa-github{
    font-size: 33px;
    color:#E20000;
}
.fa-whatsapp{
    position:fixed;
    bottom:0px;
    right: 80px;
    color: white;
    background-color: rgba(0,209,255,1);
    padding: 20px 20px 50px 20px;
    font-size: 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}
.fa-bars{
    color: #ff4a49;
    border: 1px solid #ff4a49;
    padding: 10px;
    border-radius:5px;
}
.navbar-toggler:focus{
    box-shadow: none;
    background-color: #360a6d;
    color: white !important;
}
